// Importing fonts from google fonts
@import url('https://fonts.googleapis.com/css2?family=Helvetica+Neue:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

// Importing variables
@import'~@/assets/scss/_variables.scss';

// Global styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', sans-serif;
  scroll-behavior: smooth;
}

// app transitions
.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

// App background styles
.app {
  background: rgb(46, 45, 48);
  background: linear-gradient(
    149deg,
    rgba(46, 45, 48, 1) 0%,
    rgba(3, 3, 3, 1) 75%,
    rgba(3, 3, 3, 1) 100%
  );
  min-height: 100vh;
}

// Container styles for centering and setting max width
.container {
  max-width: 1400px;
  margin: 0 auto;
}
